.box,
.box-placeholder {
    color: gray;
    display: inline-block;
    background-color: #fff;
    margin: 10px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
    /* box-shadow: 5px 10px #888888; */
    max-width: 300px;
    vertical-align: top;
    width: 100%;
}

.box hr,
.box-placeholder hr {
    margin: 0;
    border-color: #f3f3f3;
}

.box {
    display: none;
}

.box .category {
    display: block;
    margin-bottom: 10px;
}

.box img {
    max-width: 100%;
}

.box-placeholder {
    /* font-size: 0; */
    line-height: 0;
}

.box-placeholder .text {
    display: inline-block;
    background-color: #444;
    height: 12px;
    border-radius: 100px;
    margin: 5px 0;
    min-width: 100px;
    opacity: 0.7;
    animation: fading 1.5s infinite;
}

.box-placeholder .text:first-child {
    margin-top: 0;
}

.box-placeholder .text:last-child {
    margin-bottom: 0;
}

.box-placeholder .text.link {
    background-color: var(--blue);
    opacity: 0.7;
}

.box-placeholder .text.line {
    width: 100%;
}

.box-placeholder .text.category {
    width: 100px;
    margin-bottom: 10px;
}

.box-placeholder h4.text {
    height: 20px;
    margin: 3px 0;
    opacity: 0.7;
}

.box-placeholder .image {
    background-color: #686868;
    width: 100%;
    height: 200px;
    /* margin: 1em; */
    text-align: center;
    font-size: 2em;
}

@keyframes fading {
    /* 0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.5;
    } */
}